.voicesList {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
.voicesListItem {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    background-color: green;
    margin-right: 3rem;
}

.voiceName {
    font-size: 1.2rem;
    font-family: "Muli", sans-serif;
}

.error {
    color: red;
    font-size: 1.2rem;
    font-family: "Muli", sans-serif;
}